<div class="card">
    <div class="card-body">
        <div class="h2">
        <!-- Имя автора -->
        {{ author.get_full_name }}
        </div>
    <div class="h3 text-muted">
     <!-- username автора -->
     @{{ author.get_username }}
    </div>
    </div>

    <ul class="list-group list-group-flush">
    <li class="list-group-item">
    <div class="h6 text-muted">
       Подписчиков: {{ author.following.count }}  <br />
       Подписан: {{ author.follower.count }} 
    </div>
    </li>
    <li class="list-group-item">
        <div class="h6 text-muted">
        <!-- Количество записей -->
        Записей: {{ author.author_posts.count }}
        </div>
    </li>
    </ul>
</div>