{% extends "base.html" %}
{% block title %}О технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  О технологии
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Этот сайт создан на фреймворке Django и языке Python
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>На этой странице можно рассказать, какие программные инструменты вы применили для создания этого сайта, какие навыки вам помогли, 
                с чем вы хорошо разобрались, а с чем — не очень. Картинки и нестандартные подходы приветствуются: эта страница может получиться очень интересной.
            </p>
            <p>Django (Джанго, ['dʒæŋɡoʊ]) — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC. 
                Проект поддерживается организацией Django Software Foundation.
                Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми. 
                Это одно из существенных архитектурных отличий этого фреймворка от некоторых других (например, Ruby on Rails). 
                Один из основных принципов фреймворка — DRY (англ. Don't repeat yourself).
                Также, в отличие от других фреймворков, обработчики URL в Django конфигурируются явно при помощи регулярных выражений.
                Для работы с базой данных Django использует собственный ORM, в котором модель данных описывается классами Python, и по ней генерируется схема базы данных.
            </p>
            <p>Python (МФА: [ˈpʌɪθ(ə)n]; в русском языке встречаются названия пито́н или па́йтон) — высокоуровневый язык программирования общего назначения 
                с динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности разработчика, 
                читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ. 
                Язык является полностью объектно-ориентированным — всё является объектами. 
                Необычной особенностью языка является выделение блоков кода пробельными отступами. 
                Синтаксис ядра языка минималистичен, за счёт чего на практике редко возникает необходимость обращаться к документации, 
                сам же язык известен как интерпретируемый и используется в том числе для написания скриптов.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}